.box{
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1 {
    background-color: aquamarine;
    transition: background-color 3s;
}

.box1:hover {
    background-color: red;
}

.box2 {
   background-color: blueviolet;
   transition: width 2s, height 3s, background-color 5s; 
}

.box3:hover {
    width: 200px;
    height: 180px;
    background-color: rgb(139, 121, 156);
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: antiquewhite;
}